@import url('https://fonts.googleapis.com/css?family=Open+Sans:600i, 600|Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i, 300');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');
body {
    background: white;
}

.container-fluid {
    background: #9B8888;
    height: 65px;
}

.sidebar-header {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.80);
    padding-bottom: 8px;
}

.sidebar-header h3 {
    font-size: 20px;
}

.sidebar-header, .first-list {
    box-shadow: 0 8px 6px -2px #707070;
    padding-left: 7px;
    padding-top: 25px;
}

#sidebar {
    width: 190px;
    background: -webkit-linear-gradient(#9B8888, #6e5f5f);
    position: relative;
    top: 60px;
    left: 58px;
    box-shadow: #707070 0 2px 10px;
    border: 1px solid #948080;
}

.components li a {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position: relative;
}

.contentLogo {
    position: relative;
    top: 60px;
    left: 30%;
    height: 70px;
    border: 1px solid #a1a2a1;
    box-shadow: 0 8px 6px -6px #707070;
}

#content {
    position: relative;
    top: 200px;
    left: 0;
}

.chair {
    padding-right: 200px;
    padding-bottom: 100px;
}

.chair img {
    height: 250px;
}

.chair__title {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    color: #632c24;
    position: relative;
    left: 55px;
}

.chair__designer {
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    position: relative;
    left: 55px;
}

.scrollbar {
    z-index: -1;
    width: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 9%;
    background: -webkit-linear-gradient(#988a8a, #b5a7a7, #d6d6d6)
}

.scrollbar__img {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 7.9%;
}

.subMenu li label {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.80);
}
